# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars

# Terraform lock files
.terraform.lock.hcl

# Terraform crash logs
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform directory
.terraform/